.navbar{
    background-color: white;
}
nav li{
    margin-right: 30px;
}
.nav-item a:hover{
    background-color: #002D69;
    color:white;
}

.active:hover{

    background-color: #002D69;
    color:white;

}
.navbar-brand{
    margin-left: 10px;
}
.header-img img{
    width: 100%;
    height: 794px;
}
.jewelery-type{
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}

.jewelery-type h2{
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #002D69;
}
.Jewelery-imgs{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.Jewelery-imgs .images{
    width: 100%;
    margin: 0px auto;
}

.Jewelery-imgs .images img{
     width: 80%;
     height: 170px;
}

.images p{
    margin-top: 10px;
    color: #002D69;
}

.about{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.txt{
    background-color: #002D69;
    color: #FFFFFF ;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt-content{
    padding: 20px;
    text-align: left;
}
.txt-content h1{
    text-transform:uppercase;
}
.img-handcraft {
    width: 50%;
    
}

.img-handcraft img{
    width: 100%;
}
.about button{
    color: #002D69;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    width: 140px;
    margin-top: 10px;
}
.jewelry-gallery{
    width: 100%;
    margin-top: 60px;
}
.jewelry-gallery h2{
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #002D69;
}
.gallery-img{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}
.g-img{
    width: 100%;
}
.gallery-img img{
    width: 90%;
    height: 300px;
}

.btn-container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.cstm-reviews{
    margin-top: 60px;
}
.cstm-reviews h2{
    margin-left: 7%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #002D69;
}

.reviews{
    width: 90%;
    margin-left: 5%;
}
.reviews .card {
    width: 30%;
    margin-top: 10px;

}

.reviews .card p{
    font-style: italic;
}
.reviews .card p:nth-child(3){
    font-weight: bold;
}

.services-container{
    margin-top: 60px;
}
.services-container h2{
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #002D69;
}
.service{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}
.service-img{
    width: 100%;
    gap: 10px;
}
.service-img img{
    width: 90%;
    height: 300px;
}
.service-img p{
    margin-top: 10px;
    color: #002D69;
    font-size: large;
}
/* .service-butn{
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 50px;
    border: #002D69 1px solid;
    border-radius: 4px;
} */
.service-butn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
footer{
    width: 100%;
    background-color:#B8E0EF;
    margin-top: 120px;
    padding-top: 30px;
    margin-bottom: 0px;
}
.last-card{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 330px;
    margin-top: 50px;
    margin-left: 15%;
    box-shadow: 2px 5px 15px rgb(94, 94, 94);
    /* margin-top: 50px; */
}


.img-last{
    height: 100%;
    width: 50%;
}


.img-last img{
    width: 100%;
    height: 100%;
}
.txt-last{
    background-color: #FFFFFF;
    color: #002D69;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}
.txt-last p{
    color: #343434;
}
.last-txt-content{
    padding: 50px;
    text-align: center;
    width: 100%;
}
.last-txt-content h1{
    /* margin-top: 70px */
    text-transform:uppercase;
    padding: 10px;
}


/* .img-last {
    width: 70%;
    
} */

.last-card button{
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    width: 140px;
    margin-top: 10px;
    background-color: #002D69;
}



.footer-content{
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    margin-top: 30px;
}


.footer-content ul li{
    list-style: none;
}


.footer-bottom-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top: 1px solid black;
    padding: 0px 40px;
}

.copy-right{
    height: 100%;
}

.copy-right p{
    margin-top: 10px;
}



/* for small screen */


@media  screen and (max-width:767px) {
    .header-img img{
        height: 350px;
    }
    .jewelery-type{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .jewelery-type h2{
        margin-left: 0%;
    }
    .Jewelery-imgs{
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
    }
    .jewelery-imgs .images{
        margin-top: 20px;
    }
    .jewelery-imgs .images img{
        height: 200px;
    }




    .about{
        flex-direction: column-reverse;
        
    }

    .txt{
        width: 100%;

    }
    .txt-content{
        text-align: center;
    }

    .img-handcraft{
        width: 100%;
        background-color: #002D69;
        padding: 20px;
    }

    .gallery-img{
        flex-direction: column;
        margin-left: 0%;
        width: 100%;
        
    }
    .g-img{
        margin-top: 20px;
    }
.jewelry-gallery h2{
    margin-left: 0%;
    text-align: center;
}
.reviews{
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 0%;
    height: 0%;
    width: 100%;
} 

.cstm-reviews h2{
    text-align: center;
    margin-left: 0%;
    
}
.services-container h2{
    margin-left: 0%;
    text-align: center;
}

.service{
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
}

.last-card{
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
.txt-last{
    width: 100%;

}
.last-txt-content{
    text-align: center;
}
.img-last{
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
}
}
